* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game_wrap {
    width: 500px;
    margin: 0 auto;
    font-size: 40px;
    position: relative;
}

#game_board {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

#board {
    border-collapse: collapse;
    width: 100%;
}

.numBox {
    border: 1px solid black;
    width: 20%;
    height: 100px;
    text-align: center;
}

.numBox:hover {
    background: rgb(207, 164, 247);
}

#game_input {
    text-align: center;
}

#num {
    font-size: 25px;
    text-align: center;
    padding: 5px;
    width: 100px;
    border-color: purple;
}

/*  
    black_bg = .modal_bg
    modal_wrap = .result_detail
*/

#result_modal {
    display: none;
}

.result_detail {
    position: absolute;
    top: 50px;
    left: -100px;
    width: 700px;
    height: 400px;
    padding: 0 30px;
    margin: 0 auto;
    border: 1px solid #777777;
    background-color: #ffffff;
    z-index: 2;
}

.modal_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 1;
}

.result {
    text-align: center;
    line-height: 400px;
    font-size: 40px;
}
