#main {
    width: 1200px;
    margin: 0 auto;
}

.boardSearch {
    display: flex;
    width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: space-evenly;
    align-items: center;
}

.boardSearch input {
    width: 90%;
}

.searchBt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardBox {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.board {
    width: 100%;
    margin: 0 auto;
}

.board th:nth-child(1) {
    width: 70px;
}

.board th,
.board td {
    height: 50px;
    border: 1px solid black;
}