body{
    background-color: rgb(192, 140, 241);
    margin:0px;
}
#wrap{
    width:1200px; 
    border-collapse:collapse;
    margin: 20px auto;
}
/* #wrap tr td{
    border:1px solid #1a1a1a; 
} */

#header{
    border-radius: 10px;
    height:80px;
    width:100%;
    background-color:white;
    font-weight:800;
    font-size:19px;
}
#slideWrap{
    width:600px;
    height:700px;
}
#drinkWrap{
    width: 600px;
    height:350px;
}

#eventWrap{
    height:350px;
}

.menuItem{
    padding-left:50px;
}

.slide{width:100%;}

.leftMove, .rightMove{
    width:50px;
    font-size:30px;
    text-align:center;
    color:midnightblue;
}

.leftMove i:hover , .rightMove i:hover{
    cursor:pointer;
} 

.slideImage img{
    width:100%;
}

.drinkMenu{
    list-style: none;
    font-size:20px;
    font-weight:800;
}

.drinkMenu li{
    height:35px;
    border-bottom:3px solid #ffffff;
    width:150px;    
    cursor: pointer;
}